/* Dark/Light Mode Support Modifications
-------------------------------------------------- */
a, a:hover {
    color: var(--link-white-color);
}

nav {
    color: var(--link-white-color);
    background-color: var(--bg-color);
}

body {
    color: var(--link-white-color);
    background-color: var(--bg-color);
}

.dropdown-menu {
    background: var(--bg-color);
}

.dropdown-item {
    color: var(--link-white-color);
}

hr {
    background-color: var(--link-white-color);
    height: 1px;
    border: 0;
}

/* Dark/Light Mode Support
-------------------------------------------------- */
/*Light*/

  :root {
      --font-color: #000;
      --reverse-font-color: #fff;
      --link-color: #000;
      --link-white-color: rgb(57,57,57);
      --bg-color: rgb(255,255,255);
      --pagefind-ui-scale: 1;
      --pagefind-ui-primary: #034ad8;
      --pagefind-ui-text: #393939;
      --pagefind-ui-background: #ffffff;
      --pagefind-ui-border: #eeeeee;
      --pagefind-ui-tag: #eeeeee;
      --pagefind-ui-border-width: 2px;
      --pagefind-ui-border-radius: 8px;
      --pagefind-ui-image-border-radius: 8px;
      --pagefind-ui-image-box-ratio: 3 / 2;
      --pagefind-ui-font: sans-serif;
  }
  /*Dark*/
  [data-theme="dark"] {
      --font-color: #fff;
      --reverse-font-color: #000;
      --link-color: #0a86da;
      --link-white-color: #EBEBEB;
      --bg-color: #333;
      --pagefind-ui-primary: #fff;
      --pagefind-ui-text: #fff;
      --pagefind-ui-background: #fff;
      --pagefind-ui-border: #152028;
      --pagefind-ui-tag: #152028;
  }
  * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;

  }

  *:after, *:before {
    box-sizing: border-box;
  }

  p:first-letter {
    font-size: 20px;
    font-weight: bold;
  }
  p + p {
    margin-top: 10px;
  }

  input[type=radio] {
    display: none;
  }

  .input-radio-open:not(:checked) ~ .element__header .header__title--open {
    display: block;
  }
  .input-radio-open:not(:checked) ~ .element__header .header__title--close {
    display: none;
  }
  .input-radio-open:not(:checked) ~ .element__content {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  .input-radio-open:checked ~ .element__header .header__title--open {
    display: none;
  }
  .input-radio-open:checked ~ .element__header .header__title--close {
    display: block;
  }
  .input-radio-open:checked ~ .element__content {
    height: 210px;
    opacity: 1;
    overflow: auto;
  }

  .accordeon {
    align: left;
    max-width: 320px;
    margin: 0 auto;
  }
  @media screen and (min-width: 640px) {
    .accordeon {
      max-width: 640px;
    }
  }
  @media screen and (min-width: 960px) {
    .accordeon {
      max-width: 960px;
    }
  }

  .accordeon__element {
    margin-top: 10px;
  }

  .header__title {
    background-color: var(--link-white-color);
    text-align: left;
    padding: 10px 10px;
    color: var(--reverse-font-color);
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.25s ease;
  }
  .header__title .fa {
    margin-right: 10px;
  }
  .header__title:hover {
    color: rgb(147,158,174);
    background-color: var(--link-white-color);
  }

  .element__content {
    padding: 0 10px;
    transition: height 0.25s ease, opacity 0.25s ease, padding 0s ease;
  }

  .content__wrapper {
    color: #888;
    margin-top: 10px;
    padding: 10px;
    border-left: 1px solid #ee875d;
  }

  span {
    color: var(--link-white-color);
  }

  h5 {
    text-transform: uppercase;
  }


/*------------------------------------------------------------------------------------------------*/
/*
.transition, ul li i:before, ul li i:after, p {
  transition: all 0.25s ease-in-out;
}

.flipIn, ul li, h1 {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  color: var(--link-white-color);
  width: 100%;
  height: 100%;
  perspective: 900;
  overflow-y: scroll;
}

h1 {
  color: var(--link-white-color);
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
}

h2 {
  color: var(--link-white-color);
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
}

p {
  color: var(--link-white-color);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

ul {
  color: var(--font-color);
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
ul li {
  color: var(--font-color);
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}
ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}
ul li:last-of-type {
  padding-bottom: 0;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #282C34;
  width: 3px;
  height: 9px;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
*/
