<nav class="w:full h:90 fixed bg:fade-84/.95@dark bg:var(--bg-color) z:1000 ">
    <div class="
        h:full
        w:full
        max-w:1200
        mx:auto
        px:32
        d:flex
        align-items:center

    ">
        <div>
            <a href="/" class="mr-3 font:extralight color:var(--font-color) ">
              {{ if not .Site.Params.HeaderTitle }}
              {{ .Site.Title }}
              {{ else }}
              {{ .Site.Params.HeaderTitle }}
              {{ end }}
            </a>
        </div>

        <div class="ml:auto">
            {{ $currentPage := . }}
            {{ $active := "" }}
            {{ range .Site.Menus.main }}
            {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            {{ $active = "active" }}
            {{ end }}
            <a class="
                font:semibold
                font:fade
                font:fade-10:hover
                font:fade-30.active
                px:8
                transition:150ms;ease-in
                {{ $active }}
            " href="{{ .URL }}" title="{{ .Title }}">
                {{- .Name -}}
            </a>
            &nbsp; &nbsp; &nbsp;<!-- <button id="theme-toggle"><i class="fa fa-moon" style="color: black"></i><i class="fa fa-sun" style="color: white"></i></button> -->
            <button id="themeToggle"></button>

            {{ end }}
        </div>
    </div>
</nav>
