<style>
  .accordeon1-checkbox{display:none}
  .accordeon1-title-label{float: right;font-size:20px;cursor:pointer;display:block;color:#B49D61;font-weight:bold;font-family:arial;width:10px;height:10px;}
  .accordeon1-content{padding:10px;background-color: var(--bg-color);max-width:100%;height:30px;line-height:18px;overflow:hidden;-webkit-transition:height 1s ease;transition:height 1s ease}
  .accordeon1-title-label:before {content: "🔻";}
  .accordeon1-checkbox:checked + .accordeon1-content .accordeon1-title-label:before{font-size: 24px;font-family:verdana;top:-2px;position:relative;content: "🔺";}
  .accordeon1-checkbox:checked + .accordeon1-content{height:200px}
      @media (min-width: 100px) and (max-width: 299px) {   .accordeon1-checkbox:checked + .accordeon1-content{height:300px} }
      @media (min-width: 300px) and (max-width: 375px) {   .accordeon1-checkbox:checked + .accordeon1-content{height:250px} }
</style>

<div class="accordeon1">
  <h4>ОБРАЗОВАНИЕ</h4>
    <input type="checkbox" name="accordeon1-title" class="accordeon1-checkbox" id="accordeon1-title" />
    <div class="accordeon1-content">
    <label for="accordeon1-title" class="accordeon1-title-label"></label>

    <h5 id="1-высшее">1. Высшее</h5>
    <span>Московский Энергетический Институт. Радиотехнический факультет. Год окончания 1986г. Специальность: радиоэлектронные устройства.</span>
    <h5 id="2-среднее">2. Среднее</h5>
    <span>гор.Москва. Школа №76 с углубленным изучением анлийского языка.</span>
 </div>

</div>
<br>
<style>
  .accordeon2-checkbox{display:none}
  .accordeon2-title-label{float: right;font-size:20px;cursor:pointer;display:block;color:#B49D61;font-weight:bold;font-family:arial;width:10px;height:10px;}
  .accordeon2-content{padding:10px;background-color: var(--bg-color);max-width:100%;height:30px;line-height:18px;overflow:hidden;-webkit-transition:height 2s ease;transition:height 2s ease}
  .accordeon2-title-label:before {content: "🔻";}
  .accordeon2-checkbox:checked + .accordeon2-content .accordeon2-title-label:before{font-size: 24px;font-family:verdana;top:-2px;position:relative;content: "🔺";}
  .accordeon2-checkbox:checked + .accordeon2-content{height:1150px}
    @media (min-width: 100px) and (max-width: 299px) {   .accordeon2-checkbox:checked + .accordeon2-content{height:2200px} }
    @media (min-width: 300px) and (max-width: 375px) {   .accordeon2-checkbox:checked + .accordeon2-content{height:1620px} }
    @media (min-width: 376px) and (max-width: 500px) {   .accordeon2-checkbox:checked + .accordeon2-content{height:1570px} }
    @media (min-width: 501px) and (max-width: 700px) {   .accordeon2-checkbox:checked + .accordeon2-content{height:1470px} }
</style>
<div class="accordeon2">
  <h4>НАВЫКИ</h4>
    <input type="checkbox" name="accordeon2-title" class="accordeon2-checkbox" id="accordeon2-title" />
    <div class="accordeon2-content">
    <label for="accordeon2-title" class="accordeon2-title-label"></label>

    <h5 id="1-windows">1. Windows</h5>
    <span>Администрирование серверов Windows; DHCP, DNS, active directory, MS Office</span>
    <h5 id="2-linux">2. Linux</h5>
    <span>Администрирование серверов linux: Ubuntu, Debian; bash - базовый уровень; Docker</span>
    <h5 id="3-nas">3. NAS</h5>
    <span>Synology (администрирование), Nextcloud (установка, настройка, администрирование)</span>
    <h5 id="4-видеонаблюдение">4. Видеонаблюдение</h5>
    <span>ISS SecurOS, SecurOS IVS VideoWall (администрирование); Dallmeier Panomera Streaming Server, Viewing Client, SMAVIA Recording Server (администрирование); Trassir-Server, client</span>
    <h5 id="5-сетевые-технологии-модель-osi-сетевое-оборудование">5. Сетевые технологии, модель osi, сетевое оборудование</h5>
    <span>Коммутаторы Cisco, Avaya, Extreme, проч. (администрирование), межсетевые экраны Cisco, Fortigate (администрирование); настройка сетевых, межсетевых подключений tcp/ip: multicast, stp, rstp, vlan, nat, проч.; развертывание VPN сетей Wireguard.</span>
    <h5 id="6-системы-виртуализации">6. Системы виртуализации</h5>
    <span>VMware (ESXI, Vcenter), KVM, Hyper-V, Docker</span>
    <h5 id="7-системы-мониторинга-логирования-и-управления">7. Системы мониторинга, логирования и управления</h5>
    <span>NetXMS, Avaya Wireless LAN Orchestration, VEEAM, SNMP, Syslog-NG, стек ELK, Ansible, wireshark, проч.</span>
    <h5 id="8-телефония-voip">8. Телефония, voip</h5>
    <span>Avaya AURA CM, SM, US, CS, ASBCE, проч. (администрирование), IP-телефонные аппараты Avaya (настройка).</span>
    <h5 id="9-wi-fi-networks">9. WI-FI networks</h5>
    <span>Avaya Wireless LAN Orchestration (администрирование), Tp-Link, Ubiquti; OpenWRT</span>
    <h5 id="10-информационная-безопасность">10. Информационная безопасность</h5>
    <span>ipsec, Kaspersky security</span>
    <h5 id="11-web-технологии">11. WEB-технологии</h5>
    <span>Работа с облачными провайдерами и регистраторами доменов: AWS, Oracle, Firstbyte, Reg.ru, Freenom. Развёртывание и настройка web-серверов и компонентов: Ubuntu, aapanel, nginx, fail2ban, nginx-firewall, mysql, проч.. Создание, размещение статических сайтов. Сертификаты от Let&rsquo;s Encrypt.</span>
    <h5 id="12-frontend-навыки-и-используемые-инструменты-разработчика">12. Frontend-навыки и используемые инструменты разработчика</h5>
    <span>Frontend: HTML, CSS, SASS/SCSS, grid, flex, bootstrap, GULP, Prepros, ; Инструменты: Hugo static site generator; Atom, VS Code, Codepen.io, git, проч.</span>
    <h5 id="13-общие-навыки">13. Общие навыки</h5>
    <span>Английский язык, работа в условиях многозадачности, работа в команде, календарно-сетевое планирование, управление проектами, работа с большим объёмом информации, грамотная речь, деловая переписка, проч.</span>

    </div>

</div>
