<style>
  .button {
    background-color: #64B9D5; /* Blue */
    border: none;
    color: #D6D6D6;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button2 {
      background-color: #D6D6D6;
      color: #707070;
      border: 2px solid #707070;
  }

  .button2:hover {
      background-color: #707070;
      color: #D6D6D6;
  }
</style>

<br><a style="text-decoration: none;" href="/post/{{.Get 0}}/" class="button button2"><<<</a>
